.AhliaContainerEn {
  width: 100%;
  margin: 1rem auto;
}

.AhliaContainerEn .AhliaSlider {
  width: 90%;
  margin: 1rem auto;
}
.AhliaContainerEn .AhliaSlider .AhliaImg {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;

  align-items: center;
}
.AhliaContainerEn .AhliaSlider .AhliaContent {
  width: 90%;
  margin: 1rem auto;
  text-align: left;
  padding: 1rem;
}
.AhliaContainerEn .AhliaSlider .AhliaContent h1 {
  font-family: ElMesseriBold, sans-serif;
  color: #2d2e82;
}
.AhliaContainerEn .AhliaSlider .AhliaContent h2 {
  font-family: ElMesseriMedium, sans-serif;
  color: #2d2e82;
}
.AhliaContainerEn .AhliaSlider .AhliaContent p {
  font-family: ElMesseriRegular, sans-serif;
  color: #222222;
  line-height: 2rem;
  direction: ltr;
  font-size: 0.9rem;
  text-align: justify;
}
.AhliaContainerEn .AhliaSlider .AhliaContent button {
  font-family: ElMesseriRegular, sans-serif;
  background-color: #2d2e82;
}
.AhliaContainerEn .AhliaSlider .AhliaContent .Catalog {
  font-family: ElMesseriBold, sans-serif;
}

.AhliaContainerEn .AhliaProducts {
  width: 90%;
  margin: 0 auto;
}
.AhliaContainerEn .AhliaProducts .AhliaProduct {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.AhliaContainerEn .AhliaProducts .AhliaProduct img {
  width: 80%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.AhliaContainerEn .AhliaProducts .AhliaProduct img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .AhliaContainerEn .AhliaSlider .AhliaImg {
    justify-content: center;
  }
  .AhliaContainerEn .AhliaSlider .AhliaContent {
    text-align: center;
  }
}
