.AhliaContainer{
    width: 100%;
    margin:  1rem auto;

}

.AhliaContainer .AhliaSlider{
    width: 90%;
    margin: 1rem auto;
}
.AhliaContainer .AhliaSlider .AhliaImg{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.AhliaContainer .AhliaSlider .AhliaImg img{
    width: 50%;
}
.AhliaContainer .AhliaSlider .Country{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.AhliaContainer .AhliaSlider .Country img{
    width: 60%;
}
.AhliaContainer .AhliaSlider .AhliaContent{
    width: 90%;
    margin: 1rem auto;
    text-align: right;
    padding: 1rem;
}
.AhliaContainer .AhliaSlider .AhliaContent h1{
    font-family: ElMesseriBold, sans-serif;
    color: #2d2e82;
}
.AhliaContainer .AhliaSlider .AhliaContent h2{
    font-family: ElMesseriMedium, sans-serif;
    color: #2d2e82;
}
.AhliaContainer .AhliaSlider .AhliaContent p{
    font-family: ElMesseriRegular, sans-serif;
    color: #222222;
    line-height: 2rem;
    direction: rtl;
}
.AhliaContainer .AhliaSlider .AhliaContent button{
    font-family: ElMesseriRegular, sans-serif;
}

.AhliaContainer .AhliaProducts{
    width: 90%;
    margin: 0 auto;
}.AhliaContainer .AhliaProducts .BrandDescription{
    width: 100%;
    text-align: right;
    direction: rtl;
    font-family: ElMesseriRegular, sans-serif;
    line-height: 1.8rem;
}
.AhliaContainer .AhliaProducts .ProductsList{
    width: 100%;
    margin: 4rem 0;
}
.AhliaContainer .AhliaProducts .ProductsList ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.AhliaContainer .AhliaProducts .ProductsList ul li{
    width: 20%;
    margin: 0 1rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.AhliaContainer .AhliaProducts .ProductsList ul li img{
    cursor: pointer;
    width: 60% ;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}
.AhliaContainer .AhliaProducts .ProductsList ul li img:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}
.AhliaContainer .AhliaProducts .AhliaProduct{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.AhliaContainer .AhliaProducts .AhliaProduct img{
    width: 80%;
    transform: scale(1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.AhliaContainer .AhliaProducts .AhliaProduct img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
@media(max-width: 768px){
    .AhliaContainer .AhliaSlider .AhliaImg{
       justify-content: center;
    }
    .AhliaContainer .AhliaSlider .AhliaContent{
        text-align: center;
    }
}